input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
textarea:focus,
input:focus {
  outline: none;
}

.field {
  &._is-filled {
    .field__input {
      color: $white;
      border: 2px solid $white;

      .modal & {
        color: $txtColor;
        border: 2px solid $txtColor;
      }
    }
  }

  &__input,
  &__input::placeholder {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 2.1rem;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s ease;

    @media (max-width: 48em) {
      line-height: 140%;
      font-weight: 400;
    }
  }

  textarea {
    resize: none;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }

  // .field__input

  &__input {
    padding: 1.6rem 2.4rem;

    width: 100%;
    height: 5.3rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: border 0.3s ease;

    &:focus {
      color: $white;
      border: 2px solid $white;

      .modal & {
        color: $txtColor;
        border: 2px solid $txtColor;
      }
    }

    @media (max-width: 48em) {
      padding: 3.2rem 4rem;

      height: 10.8rem;
    }
  }
}

.checkbox {
  position: relative;

  // .checkbox__input

  &__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    appearance: none;

    &:checked + .checkbox__txt {
      &::before {
        border: 2px solid $white;

        background-color: $white;
      }
      &::after {
        opacity: 1;
      }
    }
  }

  // .checkbox__txt

  &__txt {
    position: relative;

    display: flex;
    align-items: center;
    column-gap: 1.6rem;

    color: $white;

    &::before {
      content: '';

      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;

      border: 2px solid rgba(255, 255, 255, 0.4);

      transition: background-color 0.3s ease, border 0.3s ease;
    }

    &::after {
      content: '';

      position: absolute;
      top: 0.6rem;
      left: 0.6rem;

      width: 1.2rem;
      height: 1.2rem;

      background: url(@img/icons/check.svg) center / contain no-repeat;

      opacity: 0;

      transition: opacity 0.3s ease;
    }
  }
}
