.select {
  position: relative;

  // .select__body

  &__body {
    position: relative;
  }

  // .select__title

  &__title {
    position: relative;
    z-index: 3;

    width: 100%;

    font-family: 'Roboto';
    line-height: 130%;
    font-size: 1.6rem;
    color: #ffffff;

    background-color: $gray;

    @media (max-width: 48em) {
      font-family: 'Roboto';
      font-size: 2.8rem;
      line-height: 3.2rem;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  // .select__value

  &__value {
    padding: 1.4rem 2.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: 100%;
    border: 2px solid $white;

    > * {
      flex: 1 1 auto;
    }

    @media (max-width: 48em) {
      padding: 2.8rem 4rem;

      &::after {
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    &::after {
      content: '';

      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;

      background: url(@img/icons/sl-arr.svg) center / contain no-repeat;

      transition: transform 0.3s ease;
    }
  }

  // .select__content

  &__content {
    margin-right: auto;

    max-width: 38rem;

    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    // hide / show selected value
    ._has-label & {
      &:not(._is-filled &) {
        display: none;
      }
    }
  }

  // .select__text

  &__text {
    flex: 1 1 auto;
  }

  // .select__input

  &__input {
    width: 100%;
    height: 100%;

    background-color: transparent;
  }

  // .select__options

  &__options {
    position: absolute;
    z-index: 3;
    top: calc(100% + 0.8rem);
    left: 0;

    padding: 2.4rem;

    // display: flex;
    min-width: 100%;
    border: 2px solid $white;

    background-color: $gray;

    @media (max-width: 48em) {
      top: calc(100% + 1.6rem);

      padding: 4.8rem 4rem;
    }
  }

  // .select__scroll

  &__scroll {
    // // maximum height
    // max-height: 58.4rem;

    // // scrollbar styles
    &.simplebar-scrollable-y {
      .simplebar-track.simplebar-vertical {
        right: 0;

        width: 0.4rem;

        background-color: rgba(255, 255, 255, 0.2);
      }
      .simplebar-scrollbar {
        min-height: 8rem;

        background-color: $white;
      }
    }
  }

  // .select__option
  &__option {
    position: relative;

    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    width: 100%;

    font-family: 'Roboto';
    color: $white;
    line-height: 130%;
    font-size: 1.6rem;

    transition: background-color 0.3s ease;

    &:not(:last-child) {
      margin-bottom: 1.6rem;

      @media (max-width: 48em) {
        margin-bottom: 4rem;
      }
    }

    &._is-selected {
      &::before {
        border: 2px solid $white;

        background-color: $white;
      }

      &::after {
        opacity: 1;
      }
    }

    &::before {
      content: '';

      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;

      border: 2px solid rgba(255, 255, 255, 0.4);

      transition: border 0.3s ease, background-color 0.3s ease;

      @media (max-width: 48em) {
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    &::after {
      content: '';

      position: absolute;
      top: 0.8rem;
      left: 0.5rem;

      width: 1.4rem;
      height: 0.9rem;

      background: url(@img/icons/check.svg) center / contain no-repeat;

      opacity: 0;

      transition: opacity 0.3s ease;

      @media (max-width: 48em) {
        top: 1.6rem;
        left: 1rem;

        width: 2.4rem;
        height: 1.8rem;
      }
    }

    @media (max-width: 48em) {
      column-gap: 1.6rem;

      font-size: 2.8rem;
      line-height: 3.2rem;
    }

    &:hover {
      background-color: $gray;
    }

    &._is-selected {
      font-weight: 500;
    }
    @media (any-hover: hover) {
      &:hover {
        &:not(&.select__subtitle) {
          cursor: pointer;
        }
      }
    }
  }

  // .select__group

  &__group {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column-reverse;
  }

  // .select__asset

  &__asset {
  }

  // .select__text

  &__text {
  }

  // .select__hint

  &__hint {
  }

  // .select__subtitle

  &__subtitle {
    cursor: text;
  }

  // select state
  &._is-opened {
    z-index: 5;
    .select__value::after {
      transform: rotate(-180deg);
    }
  }
  &._has-error {
    &:not(&._is-filled, &._is-opened) {
      .select__value._select-label {
        &::before {
          color: $red;
        }
      }
    }
  }
}

// list
._select-list {
  cursor: pointer;
}
