.txt20 {
  font-size: 2rem;
  line-height: 2.3rem;

  @media (max-width: 744px) {
    font-size: 3.2rem;
    line-height: 140%;
  }
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 5.8rem;
  line-height: 7.1rem;
  text-transform: uppercase;

  @media (max-width: 48em) {
    font-size: 6.4rem;
    line-height: 8.2rem;
  }
}

.txt32 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 3.9rem;

  @media (max-width: 48em) {
    font-size: 5.2rem;
    line-height: 6.8rem;
  }
}

.txt28 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.4rem;

  @media (max-width: 48em) {
    font-family: 'Roboto';
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
}

.txt16 {
  font-size: 1.6rem;
  line-height: 130%;

  @media (max-width: 48em) {
    font-size: 2.8rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 0.4);
  }
}
