.about {
  position: relative;

  padding: 20rem 0;

  overflow: hidden;

  // &::after {
  //   content: '';

  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   right: 0;

  //   width: 43.2rem;
  //   height: 43.2rem;
  //   border: 1px solid #cfcfcf;

  //   transform: translate(48rem, 14rem) rotate(45deg);

  //   @media (min-width: 48em) {
  //     animation: rect1 10s ease 5s infinite;
  //   }

  //   @media (max-width: 48em) {
  //     top: auto;
  //     bottom: 0;

  //     width: 44.8rem;
  //     height: 44.8rem;

  //     transform: translate(38rem, -45rem) rotate(45deg);
  //   }
  // }

  &__rect {
    top: 119rem;
    right: -37rem;

    animation: rect1s 10s ease 5s infinite;

    &::before {
      animation: rect2s 10s ease 5s infinite;
    }

    &::after {
      animation: rect3s 10s ease 5s infinite;
    }

    @media (min-width: 48em) {
      top: 5rem;
      right: -46rem;

      animation: rect1 10s ease 5s infinite;

      &::before {
        animation: rect2 10s ease 5s infinite;
      }
      &::after {
        animation: rect3 10s ease 5s infinite;
      }
    }
  }

  // .about__container

  &__container {
    position: relative;

    display: flex;
    column-gap: 6rem;

    @media (max-width: 48em) {
      flex-direction: column;
      row-gap: 4.8rem;
    }
  }

  // .about__content

  &__content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    @media (min-width: 48em) {
      row-gap: 3rem;

      &:last-child {
        padding-bottom: 1rem;
      }

      column-gap: 6rem;

      &:first-child {
        flex: 0 0 72rem;
      }

      &:last-child {
        flex: 1 1 auto;
      }
    }
  }

  // .about__title

  &__title {
    margin-bottom: 2.2rem;

    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
    }
  }

  // .about__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    line-height: 144%;

    @media (max-width: 48em) {
      row-gap: 2rem;
    }
  }

  // .about__txt

  &__txt {
  }

  // .about__numbers

  &__numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.4rem;
    row-gap: 6rem;

    @media (max-width: 48em) {
      margin-bottom: 8rem;

      display: flex;
      flex-direction: column;
      row-gap: 4.8rem;
    }
  }

  // .about__numbers-item

  &__numbers-item {
  }

  // .about__btn

  &__btn {
    justify-content: space-between;

    @media (min-width: 48em) {
      margin-top: auto;
    }
  }
}

.numbers-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  @media (min-width: 48em) {
    row-gap: 1.2rem;
  }

  // .numbers-item__heading

  &__heading {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 4rem;
    line-height: 120%;
    text-transform: uppercase;

    color: #ed1c24;

    @media (max-width: 48em) {
      font-size: 6.8rem;
      line-height: 8.2rem;
    }
  }

  // .numbers-item__txt

  &__txt {
  }
}

.about-hero {
  position: relative;

  // .about-hero__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100rem;

    @media (max-width: 48em) {
      min-height: 144rem;
    }
  }

  // .about-hero__title

  &__title {
    text-align: center;
    color: $white;

    @media (min-width: 48em) {
      max-width: 82.6rem;
    }
  }

  // .about-hero__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: #000000;

      opacity: 0.7;
    }
  }

  // .about-hero__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

.numbers {
  padding: 4rem 0;

  @media (max-width: 48em) {
    padding: 20rem 0;
  }

  // .numbers__container

  &__container {
  }

  // .numbers__slider

  &__slider {
    &.swiper {
      width: 100%;

      overflow: visible;
    }
  }

  // .numbers__wrapper

  &__wrapper {
    @media (min-width: 48em) {
      &.swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
      }
    }
  }

  // .numbers__slide

  &__slide {
    &.swiper-slide {
      width: auto;
    }
  }

  // .numbers__numbers-item

  &__numbers-item {
  }
}

.rect2 {
  position: absolute;

  width: 63.6rem;
  height: 63.6rem;
  border: 2px solid #cfcfcf;

  transform: rotate(45deg);

  @media (max-width: 48em) {
    border: 1px solid #cfcfcf;
  }

  &::before,
  &::after {
    content: '';

    position: absolute;

    border: 2px solid #cfcfcf;

    transform: rotate(180deg);

    @media (max-width: 48em) {
      border: 1px solid #cfcfcf;
    }
  }

  &::before {
    top: 8.5rem;
    left: 7.5rem;

    width: 47.4rem;
    height: 47.4rem;
  }

  &::after {
    top: 18.5rem;
    left: 14.5rem;

    width: 30rem;
    height: 30rem;
  }
}

@keyframes rect1s {
  0% {
    top: 119rem;
    right: -37rem;
  }
  30% {
    top: 109rem;
    right: -34rem;
  }
  100% {
    top: 119rem;
    right: -37rem;
  }
}
@keyframes rect2s {
  0% {
    top: 8.5rem;
    left: 7.5rem;
  }
  30% {
    top: 1.5rem;
    left: 14.5rem;
  }
  100% {
    top: 8.5rem;
    left: 7.5rem;
  }
}
@keyframes rect3s {
  0% {
    top: 18.5rem;
    left: 14.5rem;
  }
  30% {
    top: 25.5rem;
    left: 29.5rem;
  }
  100% {
    top: 18.5rem;
    left: 14.5rem;
  }
}
@keyframes rect1 {
  0% {
    top: 5rem;
    right: -46rem;
  }
  30% {
    top: -1rem;
    right: -42rem;
  }
  100% {
    top: 5rem;
    right: -46rem;
  }
}
@keyframes rect2 {
  0% {
    top: 8.5rem;
    left: 7.5rem;
  }
  30% {
    top: -3.5rem;
    left: 17.5rem;
  }
  100% {
    top: 8.5rem;
    left: 7.5rem;
  }
}
@keyframes rect3 {
  0% {
    top: 18.5rem;
    left: 14.5rem;
  }
  30% {
    top: 30rem;
    left: 25rem;
  }
  100% {
    top: 18.5rem;
    left: 14.5rem;
  }
}
