.advantages {
  position: relative;

  padding-top: 20rem;

  background-color: $gray;

  color: $white;

  overflow: hidden;

  // .advantages__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    row-gap: 7rem;

    @media (max-width: 48em) {
      row-gap: 6.4rem;
    }
  }

  // .advantages__title

  &__title {
  }

  // .advantages__items

  &__items {
    display: flex;
    flex-direction: column;
  }

  // .advantages__item

  &__item {
  }

  // .advantages__rect

  &__rect {
    top: -14rem;
    left: -48rem;

    animation: arect1 10s ease 5s infinite;

    &::before {
      animation: arect2 10s ease 5s infinite;
    }

    &::after {
      animation: arect3 10s ease 5s infinite;
    }

    @media (max-width: 48em) {
      display: none;
    }
  }
}

.item-advantages {
  position: relative;

  padding: 1.6rem 0;

  @media (max-width: 48em) {
    padding: 4.8rem 0;

    &:first-child {
      padding-top: 0;
    }
  }

  // .item-advantages_light

  &_light {
    color: #0e0e0e;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: calc((100vw - 152rem) / -2);

      width: 100vw;
      height: 100%;

      background-color: $white;

      @media (max-width: 48em) {
        left: -3.2rem;
      }
    }
  }

  // .item-advantages__inner

  &__inner {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    @media (min-width: 48em) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  // .item-advantages__number

  &__number {
    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
    }
  }

  // .item-advantages__content

  &__content {
    margin-bottom: 4.8rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;

    @media (min-width: 48em) {
      margin-bottom: 0;

      flex: 0 0 68.4rem;
      width: 68.4rem;
    }
  }

  // .item-advantages__subtitle

  &__subtitle {
  }

  // .item-advantages__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  // .item-advantages__text

  &__text {
  }

  // .item-advantages__image-wrap

  &__image-wrap {
    height: 45.6rem;

    @media (min-width: 48em) {
      width: 40.6rem;
      height: 100%;
      min-height: 27rem;
    }
  }

  // .item-advantages__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

@keyframes arect1 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-9rem, -6rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes arect2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(22rem, 9rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes arect3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(16rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
