.catalog {
  padding-top: 20rem;

  background-color: $gray;

  // .catalog__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .catalog__aside-content

  &__aside-content {
    margin-bottom: 5rem;

    display: flex;
    flex-direction: column;

    @media (min-width: 48.01em) {
      position: sticky;
      top: 4.5rem;

      margin-bottom: 0;
    }
  }

  // .catalog__title

  &__title {
    margin-bottom: 7rem;

    color: $white;
  }

  // .catalog__body

  &__body {
    display: flex;
    column-gap: 9rem;

    @media (max-width: 48em) {
      flex-direction: column-reverse;
      .field__input {
        font-size: 2.8rem;
        height: 9.5rem;
      }
    }

    @media (min-width: 48.01em) {
      .field__input {
        font-size: 1.6rem;
      }
    }
  }

  // .catalog__group

  &__group {
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;

    @media (max-width: 48em) {
      margin-bottom: 7rem;

      row-gap: 2.5rem;
    }
  }

  // .catalog__total

  &__total {
    margin-bottom: 2.5rem;

    display: flex;
    justify-content: space-between;

    @media (max-width: 48em) {
      margin-bottom: 3.5rem;
    }
  }

  // .catalog__total-price

  &__price {
    font-weight: 500;
  }

  // .catalog__label

  &__label {
    line-height: 130%;

    &.txt16 {
      color: $white;
    }
  }

  // .catalog__range-slide

  &__range-slide {
    margin-top: 1.5rem;
    padding-left: 1rem;
  }

  // .catalog__wrap

  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    @media (min-width: 48.01em) {
      flex: 1 1 auto;
    }
  }

  // .catalog__description

  &__description {
    padding: 2.4rem;

    width: 100%;

    color: $white;

    background-color: rgba(255, 255, 255, 0.4);

    @media (max-width: 48em) {
      margin-bottom: 5rem;

      order: 1;
    }
  }

  // .catalog__items

  &__items {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (min-width: 48.01em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  // .catalog__item

  &__item {
  }

  // .catalog__aside

  &__aside {
    @media (min-width: 48.01em) {
      flex: 0 0 34rem;
      width: 34rem;
    }
  }

  // .catalog__total

  &__total {
    color: $white;
  }

  // .catalog__total-value

  &__total-value {
  }

  // .catalog__btn

  &__btn {
  }
}

.item-catalog {
  // .item-catalog__inner

  &__inner {
    padding: 2.4rem;

    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 100%;

    color: $white;

    transition: border 0.3s ease;

    @media (max-width: 48em) {
      padding: 3.5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        border: 2px solid $red;
      }
    }
  }

  // .item-catalog__image-wrap

  &__image-wrap {
    margin-bottom: 1.5rem;

    height: 30.4rem;

    @media (max-width: 48em) {
      margin-bottom: 2.5rem;

      height: 61.4rem;
    }
  }

  // .item-catalog__image

  &__image {
    height: 100%;

    object-fit: cover;
    object-position: left top;
  }

  // .item-catalog__content

  &__content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
  }

  // .item-catalog__name

  &__name {
    margin-bottom: 2rem;

    font-size: 2rem;

    @media (min-width: 48.01em) {
      flex: 1 1 auto;
    }
  }

  // .item-catalog__group

  &__group {
    margin-bottom: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 48em) {
      margin-bottom: 6.5rem;
    }
  }

  // .item-catalog__quantity

  &__quantity,
  &__quantity-value,
  &__price,
  &__price-value {
    white-space: nowrap;
  }

  &__quantity {
    opacity: 0.4;
  }

  // .item-catalog__quantity-value

  &__quantity-value {
  }

  // .item-catalog__price

  &__price {
    font-weight: 500;
  }

  // .item-catalog__price-value

  &__price-value {
  }

  // .item-catalog__btn

  &__btn {
    &.btn {
      justify-content: center;
      height: 10rem;
    }
    @media (min-width: 48.01em) {
      &.btn {
        height: 5rem;
      }
      .btn__txt {
        font-size: 1.6rem;
      }
    }

    ._is-selected & {
      display: none;
    }
  }

  // .item-catalog__count

  &__count {
    &:not(._is-selected &) {
      display: none;
    }
  }
}

.quantity {
  height: 10.1rem;

  @media (min-width: 48.01em) {
    height: 5.2rem;
  }

  // .quantity__group

  &__group {
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    height: 100%;
    border: 2px solid $white;

    @media (max-width: 48em) {
      padding: 1.5rem 2.5rem;
    }
  }

  // .quantity__btn

  &__btn {
    display: inline-flex;
    flex: 0 0 2rem;
    width: 2rem;

    svg {
      width: 100%;

      @media (max-width: 48em) {
        flex: 0 0 3rem;
        width: 3rem;
      }
    }

    // .quantity__btn_incriment

    &_incriment {
    }

    // .quantity__btn_decriment

    &_decriment {
    }
  }

  // .quantity__input

  &__input {
    flex: 1 1 auto;

    text-align: center;
  }
}
