.error-page {
  padding-top: 14rem;

  background-color: $gray;

  @media (max-width: 48em) {
    padding-top: 22rem;
    padding-bottom: 1rem;
  }

  // .error-page__container

  &__container {
    position: relative;

    color: $white;
  }

  &__inner {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 48em) {
      justify-content: center;
      min-height: 90rem;
    }
  }

  // .error-page__title

  &__title {
    margin-bottom: 3.2rem;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20rem;
    line-height: 24.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #ee1b24;

    @media (max-width: 48em) {
      margin-bottom: 6.4rem;

      font-size: 24.4rem;
      line-height: 100%;
    }
  }

  // .error-page__txt

  &__txt {
    margin-bottom: 6rem;

    text-align: center;

    @media (min-width: 48em) {
      margin-bottom: 4rem;

      max-width: 66.6rem;
    }
  }

  // .error-page__btn

  &__btn {
    width: 100%;

    @media (min-width: 48em) {
      max-width: 65.2rem;
    }
  }

  // .error-page__rect

  &__rect {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    animation: eprect1 10s ease 5s infinite;

    &::before {
      animation: eprect2 10s ease 5s infinite;
    }

    &::after {
      animation: eprect3 10s ease 5s infinite;
    }
  }
}

@keyframes eprect1 {
  0% {
    transform: translate(-50%, -50%);
  }
  30% {
    transform: translate(-58%, -52%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes eprect2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(18rem, 5rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes eprect3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-5rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
