.hero {
  position: relative;

  &::before {
    content: '';

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
  }

  // .hero__container

  &__container {
    position: relative;
    z-index: 2;

    padding-top: 19.7rem;
    padding-bottom: 3.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 48em) {
      padding-top: 49.2rem;
      padding-bottom: 6.4rem;
    }

    &::after {
      content: '';

      width: 9.8rem;
      height: 9.6rem;

      background: url(@img/icons/arrow.svg) center / contain no-repeat;

      animation: scrollDown 3s ease infinite;

      @media (max-width: 48em) {
        width: 14rem;
        height: 14rem;
      }
    }
  }

  // .hero__title

  &__title {
    margin-bottom: 2.2rem;

    max-width: 79.6rem;

    text-align: center;
    color: $white;

    @media (max-width: 48em) {
      margin-bottom: 4.8rem;
    }
  }

  // .hero__btn

  &__btn {
    margin-bottom: 6.8rem;

    @media (max-width: 48em) {
      margin-bottom: 27.2rem;
    }
  }

  // .hero__logo-wrap

  &__logo-wrap {
    margin-bottom: 12rem;

    width: 20rem;

    @media (max-width: 48em) {
      display: none;
    }
  }

  // .hero__logo

  &__logo {
  }

  // .hero__video

  &__video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    .vjs_video_3-dimensions {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes scrollDown {
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
