.image-text {
  // .image-text__container

  &__container {
    display: flex;
    column-gap: 2.8rem;

    @media (max-width: 48em) {
      flex-direction: column;
      row-gap: 4.8rem;
    }
  }

  // .image-text__content

  &__content {
    padding-top: 20rem;

    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    @media (min-width: 48em) {
      padding: 20rem 0;

      row-gap: 2.8rem;
      flex: 0 0 98rem;
      width: 98rem;
    }
  }

  // .image-text__title

  &__title {
  }

  // .image-text__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @media (min-width: 48em) {
      row-gap: 1.2rem;
      max-width: 67.4rem;
    }
  }

  // .image-text__text

  &__text {
  }

  // .image-text__image-wrap

  &__image-wrap {
    position: relative;

    height: 66.8rem;

    @media (min-width: 48em) {
      flex: 1 1 auto;
      height: 100%;
      min-height: 71.6rem;
    }
  }

  // .image-text__image

  &__image {
    position: absolute;
    top: 0;
    left: 0;

    width: 80.2rem;
    height: 100%;

    object-fit: cover;

    @media (max-width: 48em) {
      left: -3.2rem;

      width: 100vw;
    }
  }
}
