.portfolio {
  position: relative;
  z-index: 2;

  padding: 20rem 0;

  background-color: $gray;

  overflow: hidden;

  @media (min-width: 48em) {
  }
  &::before,
  &::after {
    content: '';

    position: absolute;

    width: 90rem;
    height: 90rem;

    background: url(@img/bg/2.svg) center / contain no-repeat;

    @media (max-width: 48em) {
      width: 93.2rem;
      height: 93.2rem;
    }
  }

  &::before {
    left: -22rem;
    top: 25rem;

    animation: rect4s 10s ease 5s infinite;

    @media (min-width: 48em) {
      animation: rect4 10s ease 5s infinite;
    }

    @media (max-width: 48em) {
      left: 8rem;
      top: -19rem;
    }
  }

  &::after {
    right: -21rem;
    bottom: -73rem;

    @media (min-width: 48em) {
      animation: rect7 10s ease 5s infinite;
    }
  }

  @media (max-width: 48em) {
    overflow: hidden;

    &::after {
      content: none;
    }
  }

  // .portfolio__body

  &__body {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 67.4rem;
      height: 67.4rem;

      background: url(@img/bg/2.svg) center / contain no-repeat;

      @media (max-width: 48em) {
        width: 69.8rem;
        height: 69.8rem;
      }
    }

    &::before {
      top: 16rem;
      left: -32rem;

      animation: rect6s 10s ease 5s infinite;

      @media (min-width: 48em) {
        animation: rect6 10s ease 5s infinite;
      }

      @media (max-width: 48em) {
        top: -28rem;
        left: 17rem;
      }
    }

    &::after {
      bottom: -82rem;
      right: -29rem;

      @media (min-width: 48em) {
        animation: rect8 10s ease 5s infinite;
      }
    }

    @media (max-width: 48em) {
      &::after {
        content: none;
      }
    }
  }

  // .portfolio__container

  &__container {
    position: relative;

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 43.2rem;
      height: 43.2rem;

      background: url(@img/bg/2.svg) center / contain no-repeat;

      @media (max-width: 48em) {
        width: 44.8rem;
        height: 44.8rem;
      }
    }

    &::before {
      top: 29rem;
      left: -21rem;

      animation: rect5s 10s ease 5s infinite;

      @media (min-width: 48em) {
        animation: rect5 10s ease 5s infinite;
      }

      @media (max-width: 48em) {
        top: -14rem;
        left: 32rem;
      }
    }

    &::after {
      bottom: -68rem;
      right: -17rem;

      @media (min-width: 48em) {
        animation: rect9 10s ease 5s infinite;
      }
    }

    @media (max-width: 48em) {
      &::after {
        content: none;
      }
    }
  }

  // .portfolio__title

  &__title {
    position: relative;
    z-index: 2;

    margin-bottom: 7rem;

    color: $white;

    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .portfolio__cards

  &__cards {
    position: relative;
    z-index: 2;

    margin-bottom: -15rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 7rem;

    @media (max-width: 48em) {
      margin-bottom: 6.4rem;

      display: flex;
      flex-direction: column;
      row-gap: 4.8rem;
    }
  }

  // .portfolio__card

  &__card {
    @media (min-width: 48em) {
      &:nth-child(2n) {
        transform: translateY(-14.1rem);
      }
    }
  }

  // .portfolio__btn

  &__btn {
    position: relative;
    z-index: 2;

    @media (min-width: 48em) {
      margin-left: auto;

      width: calc(50% - 2rem);

      transform: translateY(109%);
    }
  }
}

.card-portfolio {
  padding: 2.4rem;

  border: 2px solid $bgColor;

  background-color: $bgColor;

  transition: border 0.3s ease;

  @media (max-width: 48em) {
    padding: 3.2rem;

    .portfolio-in & {
      padding: 0;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      border: 2px solid $red;
    }
  }

  // .card-portfolio__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .card-portfolio__image-wrap

  &__image-wrap {
    margin-bottom: 2.4rem;

    width: 100%;
    height: 56.2rem;

    @media (max-width: 48em) {
      margin-bottom: 3.2rem;

      height: 62rem;

      .portfolio-in & {
        margin-bottom: 1.5rem;

        height: 35rem;
      }
    }
  }

  // .card-portfolio__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .card-portfolio__heading

  &__heading,
  &__date {
    @media (max-width: 48em) {
      .portfolio-in & {
        padding: 0 1.5rem;
      }
    }
  }

  &__heading {
    margin-bottom: 1.4rem;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.4rem;

    @media (max-width: 48em) {
      margin-bottom: 2rem;

      font-size: 4.8rem;
      line-height: 6rem;

      .portfolio-in & {
        margin-bottom: 1rem;

        font-size: 3.6rem;
        line-height: 140%;
      }
    }
  }

  // .card-portfolio__date

  &__date {
    opacity: 0.4;

    @media (max-width: 48em) {
      .portfolio-in & {
        padding-bottom: 3rem;
      }
    }
  }
}

.portfolio-in {
  padding-top: 20rem;

  background-color: $gray;

  // .portfolio-in__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .portfolio-in__title

  &__title {
    margin-bottom: 7rem;

    color: $white;

    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  &__filters-btn {
    padding: 2.8rem 4rem;
    margin-bottom: 6.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $white;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    color: $white;

    &::after {
      content: '';

      flex: 0 0 4.8rem;
      width: 4.8rem;
      height: 4.8rem;

      background: url(@img/icons/filters.svg) center / contain no-repeat;
    }

    @media (min-width: 48em) {
      display: none;
    }
  }

  // .portfolio-in__filters

  &__filters {
    display: grid;
    gap: 6.4rem;

    @media (min-width: 48em) {
      margin-bottom: 5rem;

      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }
  }

  // .portfolio-in__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;

    @media (max-width: 48em) {
      row-gap: 1.6rem;
    }
  }

  // .portfolio-in__label

  &__label {
    line-height: 130%;

    &.txt16 {
      color: $white;
    }
  }

  // .portfolio-in__select

  &__select {
  }

  // .portfolio-in__range-slide

  &__range-slide {
    padding-left: 3.5rem;
    margin-top: 5rem;

    @media (min-width: 48em) {
      margin-top: 1.5rem;
      padding-left: 1rem;
    }
  }

  // .portfolio-in__items

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @media (max-width: 48em) {
      gap: 3rem;
    }
  }
}

.filters-portfolio-in {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: auto;

  color: $white;

  background-color: $gray;

  transform: translateX(110%);

  transition: transform 0.3s ease;

  ._show-filters & {
    transform: none;
  }

  &__head {
    padding: 2.8rem 0;
    margin-bottom: 6.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__reset-btn {
    display: inline-flex;
    align-items: center;
    column-gap: 1.6rem;

    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;

    &::after {
      content: '';

      flex: 0 0 4.8rem;
      width: 4.8rem;
      height: 4.8rem;

      background: url(@img/icons/trash.svg) center / contain no-repeat;
    }
  }

  &__btn {
    margin-top: 17rem;

    order: 1;
  }

  .portfolio-in__filters {
    margin-bottom: auto;
  }

  // .filters-portfolio-in__container

  &__container {
    display: flex;
    flex-direction: column;

    &.container {
      padding-top: 3.2rem;
      padding-bottom: 4.8rem;
    }
  }

  // .filters-portfolio-in__head-btn

  &__head-btn {
    display: flex;
    align-items: center;
    column-gap: 6.4rem;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 5.4rem;

    &::before {
      content: '';

      flex: 0 0 5.6rem;
      width: 5.6rem;
      height: 5.6rem;

      background: url(@img/icons/arr.svg) center / contain no-repeat;

      transform: rotate(-180deg);
    }
  }
}

@keyframes rect4 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-8rem, 1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect4s {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(9rem, 3rem) skewY(-9deg);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect5 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-13rem, -10rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect5s {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-20rem, -9rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect6 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(12rem, 9rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect6s {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-17rem, -8rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect7 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-4rem, 6rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect8 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5rem, 6rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect9 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-11rem, -10rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
