.portfolio {
  position: relative;
  z-index: 2;

  padding: 20rem 0;

  background-color: $gray;

  overflow: hidden;

  @media (min-width: 48em) {
  }
  &::before,
  &::after {
    content: '';

    position: absolute;

    width: 90rem;
    height: 90rem;

    background: url(@img/bg/2.svg) center / contain no-repeat;

    @media (max-width: 48em) {
      width: 93.2rem;
      height: 93.2rem;
    }
  }

  &::before {
    left: -22rem;
    top: 25rem;

    @media (min-width: 48em) {
      animation: rect4 10s ease 5s infinite;
    }

    @media (max-width: 48em) {
      left: 8rem;
      top: -19rem;
    }
  }

  &::after {
    right: -21rem;
    bottom: -73rem;

    @media (min-width: 48em) {
      animation: rect7 10s ease 5s infinite;
    }
  }

  @media (max-width: 48em) {
    overflow: hidden;

    &::after {
      content: none;
    }
  }

  // .portfolio__body

  &__body {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 67.4rem;
      height: 67.4rem;

      background: url(@img/bg/2.svg) center / contain no-repeat;

      @media (max-width: 48em) {
        width: 69.8rem;
        height: 69.8rem;
      }
    }

    &::before {
      top: 16rem;
      left: -32rem;

      @media (min-width: 48em) {
        animation: rect6 10s ease 5s infinite;
      }

      @media (max-width: 48em) {
        top: -28rem;
        left: 17rem;
      }
    }

    &::after {
      bottom: -82rem;
      right: -29rem;

      @media (min-width: 48em) {
        animation: rect8 10s ease 5s infinite;
      }
    }

    @media (max-width: 48em) {
      &::after {
        content: none;
      }
    }
  }

  // .portfolio__container

  &__container {
    position: relative;

    &::before,
    &::after {
      content: '';

      position: absolute;

      width: 43.2rem;
      height: 43.2rem;

      background: url(@img/bg/2.svg) center / contain no-repeat;

      @media (max-width: 48em) {
        width: 44.8rem;
        height: 44.8rem;
      }
    }

    &::before {
      top: 29rem;
      left: -21rem;

      @media (min-width: 48em) {
        animation: rect5 10s ease 5s infinite;
      }

      @media (max-width: 48em) {
        top: -14rem;
        left: 32rem;
      }
    }

    &::after {
      bottom: -68rem;
      right: -17rem;

      @media (min-width: 48em) {
        animation: rect9 10s ease 5s infinite;
      }
    }

    @media (max-width: 48em) {
      &::after {
        content: none;
      }
    }
  }

  // .portfolio__title

  &__title {
    position: relative;
    z-index: 2;

    margin-bottom: 7rem;

    color: $white;

    @media (max-width: 48em) {
      margin-bottom: 6.4rem;
    }
  }

  // .portfolio__cards

  &__cards {
    position: relative;
    z-index: 2;

    margin-bottom: -15rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 7rem;

    @media (max-width: 48em) {
      margin-bottom: 6.4rem;

      display: flex;
      flex-direction: column;
      row-gap: 4.8rem;
    }
  }

  // .portfolio__card

  &__card {
    @media (min-width: 48em) {
      &:nth-child(2n) {
        transform: translateY(-14.1rem);
      }
    }
  }

  // .portfolio__btn

  &__btn {
    position: relative;
    z-index: 2;

    @media (min-width: 48em) {
      margin-left: auto;

      width: calc(50% - 2rem);

      transform: translateY(109%);
    }
  }
}

.card-portfolio {
  padding: 2.4rem;

  border: 2px solid $bgColor;

  background-color: $bgColor;

  transition: border 0.3s ease;

  @media (max-width: 48em) {
    padding: 3.2rem;
  }

  @media (any-hover: hover) {
    &:hover {
      border: 2px solid $red;
    }
  }

  // .card-portfolio__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .card-portfolio__image-wrap

  &__image-wrap {
    margin-bottom: 2.4rem;

    width: 100%;
    height: 56.2rem;

    @media (max-width: 48em) {
      margin-bottom: 3.2rem;

      height: 62rem;
    }
  }

  // .card-portfolio__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .card-portfolio__heading

  &__heading {
    margin-bottom: 1.4rem;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.4rem;

    @media (max-width: 48em) {
      margin-bottom: 2rem;

      font-size: 4.8rem;
      line-height: 6rem;
    }
  }

  // .card-portfolio__date

  &__date {
    opacity: 0.4;
  }
}

@keyframes rect4 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-8rem, 1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect5 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-9rem, -7rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect6 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(12rem, 9rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect7 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-4rem, 6rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect8 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(5rem, 6rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rect9 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-11rem, -10rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
