.rent-hero {
  position: relative;

  padding: 20rem 0;

  background-color: $gray;

  color: $white;

  @media (max-width: 48em) {
    padding: 22rem 0;

    &::before {
      top: 33.8rem;
      left: -12.4rem;

      width: 93.2rem;
      height: 93.2rem;
    }
  }

  &::before {
    content: '';

    position: absolute;
    top: 5.6rem;
    left: 35.5rem;

    width: 90rem;
    height: 90rem;

    background: url(@img/bg/1.svg) center / contain no-repeat;
  }

  // .rent-hero__container

  &__container {
    position: relative;
    z-index: 2;

    display: grid;

    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 4.1rem;
    }
  }

  // .rent-hero__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @media (max-width: 48em) {
      margin-bottom: 4.8rem;

      row-gap: 3.2rem;
    }
  }

  // .rent-hero__title

  &__title {
  }

  // .rent-hero__txt

  &__txt {
    @media (min-width: 48em) {
      max-width: 69.8rem;
    }
  }

  // .rent-hero__description

  &__description {
    color: rgba(255, 255, 255, 0.4);

    @media (min-width: 48em) {
      margin-top: auto;

      max-width: 41.4rem;
    }

    @media (max-width: 48em) {
      grid-row: 3/4;
    }
  }

  // .rent-hero__image-wrap

  &__image-wrap {
    margin-bottom: 4.8rem;

    width: 100%;
    height: 56.8rem;

    @media (min-width: 48em) {
      margin-bottom: 0;

      grid-column: 2/3;
      grid-row: 1/3;
      height: 100%;
      min-height: 61.2rem;
    }
  }

  // .rent-hero__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}
