.rent-hero {
  position: relative;

  padding: 20rem 0;

  background-color: $gray;

  color: $white;

  &__rect {
    top: 5.6rem;
    left: 35.5rem;

    animation: rentrect1 10s ease 5s infinite;

    &::before {
      animation: rentrect2 10s ease 5s infinite;
    }

    &::after {
      animation: rentrect3 10s ease 5s infinite;
    }
  }

  @media (max-width: 48em) {
    padding: 22rem 0;

    &::before {
      top: 33.8rem;
      left: -12.4rem;

      width: 93.2rem;
      height: 93.2rem;
    }
  }

  // .rent-hero__container

  &__container {
    position: relative;
    z-index: 2;

    display: grid;

    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 4.1rem;
    }
  }

  // .rent-hero__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;

    @media (max-width: 48em) {
      margin-bottom: 4.8rem;

      row-gap: 3.2rem;
    }
  }

  // .rent-hero__title

  &__title {
  }

  // .rent-hero__txt

  &__txt {
    @media (min-width: 48em) {
      max-width: 69.8rem;
    }
  }

  // .rent-hero__description

  &__description {
    color: rgba(255, 255, 255, 0.4);

    @media (min-width: 48em) {
      margin-top: auto;

      max-width: 41.4rem;
    }

    @media (max-width: 48em) {
      grid-row: 3/4;
    }
  }

  // .rent-hero__image-wrap

  &__image-wrap {
    margin-bottom: 4.8rem;

    width: 100%;
    height: 56.8rem;

    @media (min-width: 48em) {
      margin-bottom: 0;

      grid-column: 2/3;
      grid-row: 1/3;
      height: 100%;
      min-height: 61.2rem;
    }
  }

  // .rent-hero__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

@keyframes rentrect1 {
  0% {
    top: 5.6rem;
    left: 35.5rem;
  }
  30% {
    top: 4.6rem;
    left: 27.5rem;
  }
  100% {
    top: 5.6rem;
    left: 35.5rem;
  }
}
@keyframes rentrect2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(13rem, 8rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes rentrect3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-2rem, -7rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
