.resources {
  position: relative;

  padding: 20rem 0;

  background-color: $gray;

  overflow: hidden;

  &__rect {
    top: -19rem;
    right: -45rem;

    animation: cprect1 10s ease 5s infinite;

    &::before {
      animation: cprect2 10s ease 5s infinite;
    }

    &::after {
      animation: cprect3 10s ease 5s infinite;
    }

    @media (max-width: 48em) {
      top: -26rem;
      right: -26rem;
    }
  }

  // .resources__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    row-gap: 5.3rem;

    @media (max-width: 48em) {
      row-gap: 6.4rem;
    }
  }

  // .resources__title

  &__title {
    color: $white;
  }

  // .resources__items

  &__items {
    display: grid;
    gap: 6.4rem;

    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
  }

  // .resources__item

  &__item {
    display: flex;
    flex-direction: column;

    color: $white;

    @media (min-width: 48em) {
      row-gap: 3.2rem;
    }

    &:nth-child(2n) {
      .resources__image-wrap {
        @media (max-width: 48em) {
          margin-bottom: 4.8rem;
        }

        order: -1;
      }
      .resources__text {
        margin-bottom: 0;
      }
    }
  }

  // .resources__subtitle

  &__subtitle {
    @media (max-width: 48em) {
      margin-bottom: 1.6rem;
    }
  }

  // .resources__text

  &__text {
    margin-bottom: 4.8rem;

    @media (min-width: 48em) {
      margin-bottom: 0;

      max-width: 68.4rem;
    }
  }

  // .resources__image-wrap

  &__image-wrap {
    width: 100%;
    height: 41.6rem;

    @media (min-width: 48em) {
      flex: 1 1 auto;
    }

    @media (max-width: 48em) {
      height: 38.4rem;
    }
  }

  // .resources__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}

.rect {
  position: absolute;

  width: 90rem;
  height: 90rem;

  background: url(@img/bg/2.svg) center / contain no-repeat;

  @media (max-width: 48em) {
    width: 93.2rem;
    height: 93.2rem;
  }

  &::before,
  &::after {
    content: '';

    position: absolute;

    background: url(@img/bg/2.svg) center / contain no-repeat;
  }

  &::before {
    top: 11.3rem;
    left: 11.3rem;

    width: 67.4rem;
    height: 67.4rem;

    @media (max-width: 48em) {
      top: 11.6rem;
      left: 11.6rem;

      width: 69.8rem;
      height: 69.8rem;
    }
  }

  &::after {
    top: 23.4rem;
    left: 23.4rem;

    width: 43.2rem;
    height: 43.2rem;

    @media (max-width: 48em) {
      top: 24.2rem;
      left: 24.2rem;

      width: 44.8rem;
      height: 44.8rem;
    }
  }
}

@keyframes cprect1 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(1rem, -1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes cprect2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(10rem, 6rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes cprect3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-12rem, -2rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
