.special {
  position: relative;

  padding: 20rem 0;

  @media (max-width: 48em) {
    padding: 22rem 0;

    &::before {
      content: '';

      position: absolute;
      top: 44.5%;
      left: -8rem;

      width: 32rem;
      height: 32rem;

      border: 1px solid #cfcfcf;

      transform: translateY(-50%) rotate(45deg);
      animation: specialrect3 10s ease 5s infinite;
    }
  }

  // .special__container

  &__container {
    position: relative;

    display: grid;

    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 4.3rem;
    }

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 50%;

      border: 2px solid #cfcfcf;

      transform: translateY(-50%) rotate(45deg);

      @media (max-width: 48em) {
        border: 1px solid #dedede;
      }
    }

    &::before {
      left: -77rem;

      width: 64rem;
      height: 64rem;

      animation: specialrect1 10s ease 5s infinite;

      @media (min-width: 48em) {
        animation: specialrect 10s ease 5s infinite;
      }

      @media (max-width: 48em) {
        left: -25rem;
        top: 43%;

        width: 66rem;
        height: 66rem;
      }
    }

    &::after {
      left: -68rem;

      width: 47rem;
      height: 47rem;

      animation: specialrect2 10s ease 5s infinite;

      @media (min-width: 48em) {
        animation: specialrect2d 10s ease 5s infinite;
      }

      @media (max-width: 48em) {
        left: -17rem;
        top: 43%;

        width: 50rem;
        height: 50rem;
      }
    }
  }

  // .special__text

  &__text {
    position: relative;
    z-index: 2;

    font-weight: 500;

    @media (max-width: 48em) {
      margin-bottom: 8rem;
    }

    @media (min-width: 48em) {
      grid-row: 1/2;
      max-width: 62rem;

      line-height: 144%;
    }
  }

  // .special__text-group

  &__text-group {
    position: relative;
    z-index: 2;

    margin-bottom: 4.8rem;

    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;

    @media (min-width: 48em) {
      margin-bottom: 0;

      justify-content: flex-end;
      row-gap: 2.4rem;
      grid-column: 1/2;
    }
  }

  // .special__title

  &__title {
  }

  // .special__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @media (min-width: 48em) {
      row-gap: 0.6rem;
      max-width: 69rem;

      line-height: 144%;
    }
  }

  // .special__txt

  &__txt {
  }

  // .special__image-group

  &__image-group {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    row-gap: 8rem;

    @media (min-width: 48em) {
      row-gap: 4rem;
      grid-row: span 2;
      grid-row: 1 / 3;
    }
  }

  // .special__image-wrap

  &__image-wrap {
    width: 100%;
    height: 46rem;

    @media (max-width: 48em) {
      height: 42.8rem;
    }
  }

  // .special__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .special__btn

  &__btn {
  }
}

@keyframes specialrect {
  0% {
    left: -77rem;
    top: 50%;
  }
  30% {
    left: -90rem;
    top: 45%;
  }
  100% {
    left: -77rem;
    top: 50%;
  }
}

@keyframes specialrect2d {
  0% {
    left: -68rem;
    top: 50%;
  }
  30% {
    left: -59rem;
    top: 53%;
  }
  100% {
    left: -68rem;
    top: 50%;
  }
}
@keyframes specialrect1 {
  0% {
    left: -25rem;
    top: 43%;
  }
  30% {
    left: -32rem;
    top: 43%;
  }
  100% {
    left: -25rem;
    top: 43%;
  }
}
@keyframes specialrect2 {
  0% {
    left: -17rem;
    top: 43%;
  }
  30% {
    left: -7rem;
    top: 44%;
  }
  100% {
    left: -17rem;
    top: 43%;
  }
}

@keyframes specialrect3 {
  0% {
    top: 44.5%;
    left: -8rem;
  }
  30% {
    top: 52.5%;
    left: -25rem;
  }
  100% {
    top: 44.5%;
    left: -8rem;
  }
}
