.footer {
  padding-top: 20rem;

  color: $white;

  background-color: $gray;

  // .footer__container

  &__container {
    padding-bottom: 3rem;

    display: flex;
    column-gap: 4rem;

    @media (max-width: 48em) {
      flex-direction: column;

      &.container {
        padding-bottom: 6rem;
      }
    }
  }

  // .footer__info

  &__info {
    margin-bottom: 7rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.4rem;

    @media (min-width: 48em) {
      margin-bottom: 0;
      margin-right: 11.5rem;

      row-gap: 1.2rem;
      flex: 0 0 23.6rem;
    }
  }

  // .footer__logo-wrap

  &__logo-wrap {
    width: 11.8rem;

    @media (max-width: 48em) {
      width: 14.8rem;
    }
  }

  // .footer__logo

  &__logo {
  }

  // .footer__txt

  &__txt {
    opacity: 0.4;
  }

  // .footer__group

  &__group {
    margin-bottom: 7.5rem;

    display: flex;
    flex-direction: column;

    @media (min-width: 48em) {
      margin-bottom: 0;
      padding-top: 0.5rem;

      row-gap: 2.4rem;
      flex: 0 0 25rem;
    }

    &_accordion {
      @media (min-width: 48em) {
        margin-right: 16rem;
      }
      @media (max-width: 48em) {
        margin-bottom: 5rem;

        &._is-active {
          > .footer__link::after {
            transform: rotate(-180deg);
          }
        }

        [data-accordion-inner] {
          .footer__item:first-child {
            margin-top: 4.8rem;
          }
        }

        > .footer__link {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &::after {
            content: '';

            width: 4.8rem;
            height: 4.8rem;

            background: url(@img/icons/sl-arr.svg) center / contain no-repeat;

            transition: transform 0.3s ease;
          }
        }
      }
    }
  }

  // .footer__list-wrap

  &__list-wrap {
  }

  // .footer__list

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.6rem;

    @media (max-width: 48em) {
      row-gap: 3.2rem;

      &:not(.footer__list-wrap &) {
        row-gap: 4.6rem;
      }
    }
  }

  // .footer__item

  &__item {
    .footer__list-wrap & {
      opacity: 0.4;
      transition: opacity 0.3s ease;

      @media (any-hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  // .footer__link

  &__link {
    &:not(.footer__list-wrap &) {
      position: relative;

      color: $white;
      line-height: 146%;
      font-weight: 500;

      transition: color 0.3s ease;

      &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: -1.6rem;

        width: 0.6rem;
        height: 0.6rem;

        background-color: $red;

        opacity: 0;
        transform: rotate(45deg) translateY(-50%);

        transition: opacity 0.3s ease;
      }

      @media (any-hover: hover) and (min-width: 48em) {
        &:hover {
          color: $red;

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  // .footer__contacts

  &__contacts {
  }
}

.developer {
  border-top: 0.1rem solid $white;
  transition: background-color 0.3s ease;
  overflow: hidden;
  background-color: $gray;

  // .developer__container

  &__container {
  }

  // .developer__wrap

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .svg-l {
      fill: $gray;
    }

    .svg-p {
      fill: $white;
    }

    svg {
      width: 30rem;

      @media (max-width: 48em) {
        width: 60rem;
      }
    }
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 48em) {
    padding-left: 4rem;
  }

  // .contacts-footer__list

  &__list {
    margin-bottom: 7rem;

    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    @media (min-width: 48em) {
      padding-top: 0.7rem;
      margin-bottom: 10rem;

      row-gap: 2rem;
    }
  }

  // .contacts-footer__item

  &__item {
    svg {
      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;

      @media (max-width: 48em) {
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
      }
    }
  }

  // .contacts-footer__item-content

  &__item-content {
    display: inline-flex;
    align-items: center;
    column-gap: 1.6rem;

    @media (any-hover: hover) {
      &:hover {
        .contacts-footer__item-txt {
          color: $red;
        }
      }
    }
  }

  // .contacts-footer__item-txt

  &__item-txt {
    font-weight: 500;
    transition: color 0.3s ease;
  }

  // .contacts-footer__link

  &__link {
    opacity: 0.4;

    &_base {
      transition: opacity 0.3s ease;
      @media (any-hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }

    @media (max-width: 48em) {
      &_base {
        font-size: 3.2rem;
        line-height: 130%;

        transition: opacity 0.3s ease;
      }
    }
  }
}
