.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  display: flex;
  height: 14.2rem;
  width: 100%;

  @media (max-width: 48em) {
    height: 14rem;
  }

  &__call {
    position: fixed;
    bottom: 3.2rem;
    right: 3.2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12.8rem;
    height: 12.8rem;

    background-color: #ffffff;

    svg {
      width: 4.8rem;
      height: 4.8rem;

      color: $red;
    }

    @media (min-width: 48em) {
      display: none;
    }
  }

  // .header__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    align-self: flex-end;

    @media (min-width: 48em) {
      column-gap: 15.6rem;
    }
  }

  // .header__logo-wrap

  &__logo-wrap {
    margin-right: auto;

    flex: 0 0 10rem;
    width: 10rem;
    height: 10rem;

    @media (max-width: 48em) {
      flex: 0 0 11.6rem;
      width: 11.6rem;
      height: 11.6rem;
    }
  }

  // .header__logo

  &__logo {
  }

  // .header__nav

  &__nav {
    display: flex;
    column-gap: 3.2rem;
  }

  // .header__link

  &__link {
    position: relative;

    color: $white;

    transition: color 0.3s ease;

    @media (min-width: 48em) {
      &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: -1.6rem;

        width: 0.6rem;
        height: 0.6rem;

        background-color: $red;

        opacity: 0;
        transform: rotate(45deg) translateY(-50%);

        transition: opacity 0.3s ease;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: $red;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  // .header__btn

  &__btn {
    svg {
      transition: transform 0.3s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          transform: rotate(20deg);
        }
      }
    }

    @media (min-width: 48em) {
      margin-top: 1rem;
    }
  }

  // .header__hamburger

  &__hamburger {
    color: $white;

    @media (max-width: 48em) {
      transform: translateY(1rem);
    }

    // ._menu-opened &

    svg {
      &:first-child {
        width: 5.6rem;
        height: 3.4rem;
      }
      &:last-child {
        display: none;
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    svg {
      ._menu-opened & {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: inline-flex;
        }
      }
    }

    @media (min-width: 48em) {
      display: none;
    }
  }

  // .header__menu

  &__menu {
    @media (min-width: 48em) {
      display: none;
    }
  }
}

.menu-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  padding: 8rem;
  padding-top: 47rem;

  width: 100%;
  height: 100%;

  background-color: $gray;

  overflow: auto;
  overflow-x: clip;
  transform: translateY(-110%);

  transition: transform 0.5s ease;

  &__rect {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: menurect1 10s ease 5s infinite;

    &::before {
      animation: menurect2 10s ease 5s infinite;
    }

    &::after {
      animation: menurect3 10s ease 5s infinite;
    }
  }

  &::before {
    content: '';

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
    height: 14rem;

    background-color: $gray;
  }

  ._menu-opened & {
    transform: none;

    .container {
      opacity: 1;
      visibility: visible;
    }
  }

  .container {
    margin: 0;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s;
  }

  .header__btn {
    position: relative;
    z-index: 2;
  }

  .header__nav {
    position: relative;

    margin-bottom: auto;
    margin-top: auto;

    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
  }

  .header__link {
    position: relative;
    z-index: 2;

    font-size: 3.2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36.8rem;
  }
}

@keyframes menurect1 {
  0% {
    transform: translate(-50%, -50%);
  }
  30% {
    transform: translate(-59%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes menurect2 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(19rem, 15rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes menurect3 {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-1rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
