.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  display: flex;
  height: 14.2rem;
  width: 100%;

  @media (max-width: 48em) {
    height: 14rem;
  }

  &__call {
    position: fixed;
    bottom: 3.2rem;
    right: 3.2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12.8rem;
    height: 12.8rem;

    background-color: #ffffff;

    svg {
      width: 4.8rem;
      height: 4.8rem;

      color: $red;
    }

    @media (min-width: 48em) {
      display: none;
    }
  }

  // .header__container

  &__container {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    align-self: flex-end;

    @media (min-width: 48em) {
      column-gap: 15.6rem;
    }
  }

  // .header__logo-wrap

  &__logo-wrap {
    margin-right: auto;

    flex: 0 0 10rem;
    width: 10rem;
    height: 10rem;

    @media (max-width: 48em) {
      flex: 0 0 11.6rem;
      width: 11.6rem;
      height: 11.6rem;
    }
  }

  // .header__logo

  &__logo {
  }

  // .header__nav

  &__nav {
    display: flex;
    column-gap: 3.2rem;
  }

  // .header__link

  &__link {
    color: $white;
  }

  // .header__btn

  &__btn {
    @media (min-width: 48em) {
      margin-top: 1rem;
    }
  }

  // .header__hamburger

  &__hamburger {
    @media (max-width: 48em) {
      transform: translateY(1rem);
    }

    // ._menu-opened &

    svg {
      &:first-child {
        width: 5.6rem;
        height: 3.4rem;
      }
      &:last-child {
        display: none;
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    svg {
      ._menu-opened & {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: inline-flex;
        }
      }
    }

    @media (min-width: 48em) {
      display: none;
    }
  }

  // .header__menu

  &__menu {
    @media (min-width: 48em) {
      display: none;
    }
  }
}

.menu-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  padding: 8rem;
  padding-top: 47rem;

  width: 100%;
  height: 100%;

  background-color: $gray;

  overflow: auto;
  overflow-x: clip;
  transform: translateY(-110%);

  transition: transform 0.5s ease;

  &::before {
    content: '';

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
    height: 14rem;

    background-color: $gray;
  }

  ._menu-opened & {
    transform: none;

    .container {
      opacity: 1;
      visibility: visible;
    }
  }

  .container {
    margin: 0;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease 0.5s, visibility 0.3s ease 0.5s;
  }

  .header__btn {
    position: relative;
    z-index: 2;
  }

  .header__nav {
    position: relative;

    margin-bottom: auto;
    margin-top: auto;

    flex-direction: column;
    align-items: center;
    row-gap: 6rem;

    &::before {
      content: '';

      position: absolute;
      top: 57%;
      left: 50%;

      width: 93.2rem;
      height: 93.2rem;

      background: url(@img/bg/1.svg) center / contain no-repeat;

      transform: translate(-50%, -50%);
    }
  }

  .header__link {
    position: relative;
    z-index: 2;

    font-size: 3.2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36.8rem;
  }
}
