body::after {
  content: '';
  position: fixed;
  z-index: 149;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease;

  @media (max-width: 48em) {
    backdrop-filter: blur(4rem);
  }
}

.modal-show body::after {
  opacity: 1;
  visibility: visible;
}
.modal.modal_show {
  opacity: 1;
  visibility: visible;
  .modal-content {
    opacity: 1;
    visibility: visible;
  }
}

// --------------------------------------------------------------------------

.modal {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
  }

  &__close-btn {
    position: absolute;
    top: 6rem;
    right: 6rem;

    display: inline-flex;

    @media (max-width: 48em) {
      top: 3.2rem;
      right: 3.2rem;

      svg {
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;

      color: $white;
    }
  }
}

.reviews-modal {
  // .reviews-modal__image-wrap

  &__image-wrap {
    flex: 0 1 85rem;
    max-height: 85rem;

    @media (max-width: 48em) {
      flex: 0 1 96.8rem;
      max-height: 96.8rem;
    }
  }

  // .reviews-modal__image

  &__image {
    width: auto;
    height: 100%;
  }
}

.project-modal {
  // .project-modal__container

  &__container {
    position: relative;
  }

  // .project-modal__body

  &__body {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 127.9rem;
    row-gap: 5rem;

    @media (max-width: 48em) {
      position: static;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      width: 100%;
    }
  }

  // .project-modal__slider

  &__slider {
    &.swiper {
      width: 100%;
      height: 72rem;

      @media (max-width: 48em) {
        grid-column: 1/3;

        &:not(&.project-modal__thumbs-slider) {
          margin-bottom: auto;
        }

        height: 38.8rem;
      }
    }
  }

  // .project-modal__wrapper

  &__wrapper {
  }

  // .project-modal__slide

  &__slide {
  }

  // .project-modal__image-wrap

  &__image-wrap {
    width: 100%;
    height: 100%;
  }

  // .project-modal__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .project-modal__thumbs-slider

  &__thumbs-slider {
    &.swiper {
      width: 100%;

      @media (max-width: 48em) {
        position: absolute;
        bottom: 3.2rem;
        left: 3.2rem;

        width: 100vw;
      }
    }
    .swiper-slide {
      width: 16rem;

      cursor: pointer;

      @media (max-width: 48em) {
        width: 20rem;
      }
    }
    .project-modal__image-wrap {
      height: 16rem;

      @media (max-width: 48em) {
        height: 20rem;
      }
    }
  }

  // .project-modal__nav-btn

  &__nav-btn {
    @media (min-width: 48em) {
      position: absolute;
      top: 33.2rem;
    }

    &.nav-btn {
      border: 2px solid rgba(255, 255, 255, 0.2);
    }

    svg {
      color: $white;
    }

    &.nav-btn_prev {
      transform: rotate(180deg);

      @media (min-width: 48em) {
        left: -20.5rem;

        transform: rotate(180deg) translateX(100%);
      }
    }

    &.nav-btn_next {
      @media (max-width: 48em) {
        justify-self: end;
      }
      @media (min-width: 48em) {
        right: -20.5rem;

        transform: translateX(100%);
      }
    }
  }
}

.request-modal {
  overflow: auto;

  // .request-modal__container

  &__container {
    @media (max-width: 48em) {
      &:not(.request-modal_sent &) {
        background-color: #e7e7e7;
      }
    }
  }

  // .request-modal__body

  &__body {
    position: relative;

    padding: 4.8rem 0;
    padding-top: 10rem;

    display: grid;
    gap: 4rem;

    background-color: #e7e7e7;

    @media (max-width: 48em) {
      .request-modal_sent & {
        &::after {
          content: '';

          position: absolute;
          z-index: -1;
          top: 0;
          left: -3.2rem;

          width: 100vw;
          height: 100%;

          background-color: #e7e7e7;
        }
      }
    }

    @media (min-width: 48em) {
      padding: 2.4rem 4rem;

      grid-template-columns: 57.8rem 62.8rem;
    }

    .modal__close-btn {
      top: 1.6rem;
      right: 1.6rem;

      @media (max-width: 48em) {
        top: 3.2rem;
        right: 0;
      }

      svg {
        color: $txtColor;
      }
    }
  }

  // .request-modal__logo-wrap

  &__logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57.6rem;

    .request-modal_sent & {
      background-color: $red;
    }

    @media (max-width: 48em) {
      height: 68.8rem;
      order: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // .request-modal__logo

  &__logo {
    width: 36.2rem;
    height: 36.2rem;

    @media (max-width: 48em) {
      width: 39rem;
      height: 39rem;
    }
  }

  // .request-modal__form

  &__form {
    display: flex;
    flex-direction: column;

    .field__input {
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
    .field__input,
    .field__input::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  // .request-modal__title

  &__title {
    margin-bottom: 2.4rem;

    @media (max-width: 48em) {
      margin-bottom: 3.2rem;
    }
  }

  // .request-modal__text

  &__text {
    margin-bottom: 6.4rem;

    @media (min-width: 48em) {
      margin-bottom: 5rem;

      max-width: 57.2rem;
    }
  }

  // .request-modal__fields

  &__fields {
    margin-bottom: 6.4rem;

    display: grid;
    gap: 4.8rem;

    @media (min-width: 48em) {
      margin-bottom: 3.2rem;

      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;

      .field_textarea {
        grid-column: span 2;
      }
    }
  }

  &__description {
    margin-bottom: 3.2rem;
  }

  // .request-modal__field

  &__field {
  }
}
