body::after {
  content: '';
  position: fixed;
  z-index: 149;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease;

  @media (max-width: 48em) {
    backdrop-filter: blur(4rem);
  }
}

.modal-show body::after {
  opacity: 1;
  visibility: visible;
}
.modal.modal_show {
  opacity: 1;
  visibility: visible;
  .modal-content {
    opacity: 1;
    visibility: visible;
  }
}

// --------------------------------------------------------------------------

.modal {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
  }

  &__close-btn {
    position: absolute;
    top: 6rem;
    right: 6rem;

    display: inline-flex;

    @media (max-width: 48em) {
      top: 3.2rem;
      right: 3.2rem;

      svg {
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;

      color: $white;
    }
  }
}

.reviews-modal {
  // .reviews-modal__image-wrap

  &__image-wrap {
    flex: 0 1 85rem;
    max-height: 85rem;

    @media (max-width: 48em) {
      flex: 0 1 96.8rem;
      max-height: 96.8rem;
    }
  }

  // .reviews-modal__image

  &__image {
    width: auto;
    height: 100%;
  }
}

.project-modal {
  // .project-modal__container

  &__container {
  }

  // .project-modal__body

  &__body {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    width: 127.9rem;
  }

  // .project-modal__slider

  &__slider {
    &.swiper {
      width: 100%;
      height: 72rem;
    }
  }

  // .project-modal__wrapper

  &__wrapper {
  }

  // .project-modal__slide

  &__slide {
  }

  // .project-modal__image-wrap

  &__image-wrap {
    width: 100%;
    height: 72rem;
  }

  // .project-modal__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .project-modal__thumbs-slider

  &__thumbs-slider {
    &.swiper {
      width: 100%;
    }
    .swiper-slide {
      width: 16rem;
    }
    .project-modal__image-wrap {
      height: 16rem;
    }
  }

  // .project-modal__nav-btn

  &__nav-btn {
    position: absolute;
    top: 33.2rem;

    &.nav-btn {
      border: 2px solid rgba(255, 255, 255, 0.2);
    }

    svg {
      color: $white;
    }

    &.nav-btn_prev {
      left: -20.5rem;

      transform: rotate(180deg) translateX(100%);
    }

    &.nav-btn_next {
      right: -20.5rem;

      transform: translateX(100%);
    }
  }
}
